In [33]:
import pandas as pd

df = pd.read_csv("instagram.csv")   # replace file name
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,25:23.0,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,25:23.0,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,25:23.0,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,25:23.0,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,25:23.0,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   post_id           10000 non-null  object
 1   upload_date       10000 non-null  object
 2   media_type        10000 non-null  object
 3   likes             10000 non-null  int64
 4   comments          10000 non-null  int64
 5   shares            10000 non-null  int64
 6   saves             10000 non-null  int64
 7   reach             10000 non-null  int64
 8   impressions       10000 non-null  int64
 9   caption_length    10000 non-null  int64
 10  hashtags_count    10000 non-null  int64
 11  followers_gained  10000 non-null  int64
 12  traffic_source    10000 non-null  object
 13  engagement_rate   10000 non-null  float64
 14  content_category  10000 non-null  object
dtypes: float64(1), int64(9), object(5)
memory usage: 1.1+ MB

In [35]:
df.describe()

,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,engagement_rate
count,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04,10000.00000,10000.000000,10000.000000,10000.000000
mean,100035.336300,5050.455900,2478.603800,7529.121300,1.005149e+06,1.256637e+06,1107.39280,14.947500,502.748400,14.545771
std,58190.083042,2903.968568,1450.974283,4362.491532,5.824026e+05,6.035826e+05,631.90137,9.004191,291.094819,38.158387
min,53.000000,0.000000,1.000000,0.000000,1.650000e+02,5.107000e+03,0.00000,0.000000,0.000000,0.350000
25%,49340.750000,2519.750000,1209.750000,3755.750000,4.948688e+05,7.473182e+05,565.00000,7.000000,252.000000,5.160000
50%,99847.500000,5076.000000,2460.000000,7562.000000,1.009304e+06,1.261159e+06,1112.00000,15.000000,502.000000,9.080000
75%,150809.500000,7562.250000,3747.000000,11311.250000,1.511072e+06,1.761546e+06,1658.25000,23.000000,758.250000,15.632500
max,199993.000000,10000.000000,5000.000000,14999.000000,1.999780e+06,2.482212e+06,2200.00000,30.000000,1000.000000,3259.820000

In [36]:
print("Null values in each column:")
print(df.isna().sum())

Null values in each column:
post_id             0
upload_date         0
media_type          0
likes               0
comments            0
shares              0
saves               0
reach               0
impressions         0
caption_length      0
hashtags_count      0
followers_gained    0
traffic_source      0
engagement_rate     0
content_category    0
dtype: int64

In [37]:
# Fill numeric NaN with 0
df = df.fillna({
    "likes": 0,
    "comments": 0,
    "shares": 0,
    "saves": 0,
    "impressions": 0,
    "reach": 0,
    "views": 0,
    "followers_gained": 0
})

# Fill empty text columns
df = df.fillna("")
df

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,25:23.0,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,25:23.0,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,25:23.0,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,25:23.0,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,25:23.0,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,IG0009996,25:23.0,Carousel,164920,5695,504,11516,1861990,2247110,1926,22,367,External,8.13,Technology
9996,IG0009997,25:23.0,Video,95203,2134,3025,1311,1489577,1754968,1721,19,541,Home Feed,5.79,Photography
9997,IG0009998,25:23.0,Carousel,160470,618,427,13394,861630,1212415,65,13,85,External,14.43,Food
9998,IG0009999,25:23.0,Carousel,135721,6016,4915,8368,1498399,1854455,2091,3,132,Explore,8.36,Photography
9999,IG0010000,25:23.0,Reel,82445,2156,3329,14952,1105255,1518857,2107,22,33,External,6.77,Music

In [38]:
df["upload_date"].unique()[:20]

array(['25:23.0'], dtype=object)

In [39]:
df = df.rename(columns={"upload_date": "duration"})

In [40]:
df["duration"] = df["duration"].str.replace(".0", "", regex=False)

In [41]:
df["duration_seconds"] = (
    df["duration"].str.split(":", expand=True)[0].astype(int) * 60 +
    df["duration"].str.split(":", expand=True)[1].astype(int)
)

df[["duration", "duration_seconds"]].head()

  duration  duration_seconds
0    25:23              1523
1    25:23              1523
2    25:23              1523
3    25:23              1523
4    25:23              1523

In [42]:
df.duplicated().sum()

np.int64(0)

In [43]:
df = df.drop_duplicates()

In [44]:
(df["impressions"] == 0).sum()

np.int64(0)

In [45]:
(df["media_type"].str.strip() == "").sum()

np.int64(0)

In [46]:
df = df[df["impressions"] > 0]
df = df[df["media_type"].str.strip() != ""]

In [47]:
df["media_type"] = df["media_type"].str.strip().str.title()

In [48]:
df.columns

Index(['post_id', 'duration', 'media_type', 'likes', 'comments', 'shares',
       'saves', 'reach', 'impressions', 'caption_length', 'hashtags_count',
       'followers_gained', 'traffic_source', 'engagement_rate',
       'content_category', 'duration_seconds'],
      dtype='object')

In [49]:
df["engagement_total"] = (
    df["likes"] + df["comments"] + df["shares"] + df["saves"]
)
df.head()

,post_id,duration,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category,duration_seconds,engagement_total
0,IG0000001,25:23,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology,1523,50109
1,IG0000002,25:23,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness,1523,75185
2,IG0000003,25:23,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty,1523,108228
3,IG0000004,25:23,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music,1523,191440
4,IG0000005,25:23,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology,1523,116539

In [50]:
df["engagement_rate"] = (
    (df["engagement_total"] / df["impressions"]) * 100
)
df.head()

,post_id,duration,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category,duration_seconds,engagement_total
0,IG0000001,25:23,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.972364,Technology,1523,50109
1,IG0000002,25:23,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.586225,Fitness,1523,75185
2,IG0000003,25:23,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.290989,Beauty,1523,108228
3,IG0000004,25:23,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.321477,Music,1523,191440
4,IG0000005,25:23,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.523938,Technology,1523,116539

In [51]:
df = df.rename(columns={
    "upload_date": "date",
    "followers_gained": "followers"
})

In [52]:
num_cols = ["likes", "comments", "shares", "saves", "impressions",
            "reach", "views", "followers"]

for col in num_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce").fillna(0)

df.head()

,post_id,duration,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers,traffic_source,engagement_rate,content_category,duration_seconds,engagement_total
0,IG0000001,25:23,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.972364,Technology,1523,50109
1,IG0000002,25:23,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.586225,Fitness,1523,75185
2,IG0000003,25:23,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.290989,Beauty,1523,108228
3,IG0000004,25:23,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.321477,Music,1523,191440
4,IG0000005,25:23,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.523938,Technology,1523,116539

In [53]:
df.to_csv("instagram_cleaned.csv", index=False)
print("Cleaning Completed Successfully!")

Cleaning Completed Successfully!

In [55]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "dev123" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "postgres"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "instagram"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'instagram' in database 'postgres'.